<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoRutasBusesFE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/adminlte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/adminlte/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/css/custom.css" /> <!-- Incluye el archivo CSS personalizado -->
    <link rel="stylesheet" href="~/css/site.css" /> <!-- Incluye el archivo CSS personalizado -->
    <link rel="stylesheet" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/lib/sweetalert/sweetalert.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        .sidebar {
            height: 100%;
            width: 250px;
            position: fixed;
            z-index: 1;
            top: 60px;
            left: 0;
            background-color: #343a40;
            overflow-x: hidden;
            padding-top: 20px;
            color: white;
            transition: 0.3s;
        }

            .sidebar.hidden {
                width: 0;
                padding-top: 0;
                overflow: hidden;
            }

            .sidebar h2 {
                color: white;
                padding-left: 25px;
            }

            .sidebar a {
                padding: 15px 25px;
                text-decoration: none;
                font-size: 18px;
                color: #cfd8dc;
                display: block;
            }

                .sidebar a:hover {
                    background-color: #bf7a0d;
                    color: #ffffff;
                }

        .main-content {
            margin-left: 260px;
            padding: 20px;
            padding-top: 80px;
            transition: 0.3s;
        }

            .main-content.full-width {
                margin-left: 0;
            }

        .navbar-top {
            background-color: #f39c12;
            color: white;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 2;
        }

            .navbar-top .navbar-brand, .navbar-top .nav-link {
                color: white;
            }

                .navbar-top .nav-link:hover {
                    color: #404041;
                }

        .toggle-btn {
            font-size: 20px;
            cursor: pointer;
            background-color: #404041;
            color: white;
            border: none;
            padding: 10px 15px;
        }
    </style>
</head>
<body>
    @Html.Partial("_Navbar")
    @Html.Partial("_Sidebar")
    <div class="main-content" id="main-content">
        <main role="main" class="pb-3">
            @RenderBody()
            @RenderSection("MainContent", required: false)
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/lib/marioizquierdo-jquery.serializeJSON/jquery.serializejson.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/borradoScripts.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        function toggleSidebar() {
            var sidebar = document.getElementById("sidebar");
            var mainContent = document.getElementById("main-content");
            sidebar.classList.toggle("hidden");
            mainContent.classList.toggle("full-width");
        }
    </script>
</body>
</html>
